@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400&display=swap');
:root {
  --accent-color: #fc59a3;
  --highlight-color: #c9f295;
  --secondary-highlight-color: #f9de8d;
  --warning-color: #fff684;

  --main-color: #6c00bc;
  --main-color-dark: #34008b;
  --main-color-light: #a143f0;
  --accent-color-dark: #c51a74;
  --accent-color-light: #ff8ed4;

  --main-bg-color: #fffffe;
  --main-bg-color-dark: #cccccb;
  --main-bg-color-light: #ffffff;


  --xs-padding: 0.5rem;
  --sm-padding: 1rem;
  --medium-padding: 2rem;
  --large-padding: 4rem;

  --header-height: 10rem;
  --max-width: 80rem;

  --transition: 3s;

  --border-width: 2px;
  --xs-border-width: 1px;

}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Jost', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  stroke: var(--font-color);
  fill: var(--font-color);



  --background-color: var(--main-bg-color);
  --background-color-dark: var(--main-bg-color-dark);
  --background-color-light: var(--main-bg-color-light);
  --font-color: var(--main-color);
  --font-color-dark: var(--main-color-dark);
  --font-color-light: var(--main-color-light);
  --font-color-accent: var(--accent-color-dark);
}

.dark-theme {
  --background-color: var(--main-color-dark);
  --background-color-dark: var(--main-color);
  --background-color-light: var(--main-color-light);
  --font-color: var(--main-bg-color);
  --font-color-dark: var(--main-bg-color-dark);
  --font-color-light: var(--main-bg-color-light);
  --font-color-accent: var(--accent-color-light);
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.highlight {
  color: var(--font-color-accent);
}

a {
  color: var(--font-color-dark);
  text-decoration-color: var(--highlight-color);
}

a:focus, a:active, a:hover {
  color: var(--font-color-light);
}

button, split-button {
  background-color: transparent;
  border: none;
  color: var(--font-color);
  padding: var(--xs-padding);
}

split-button {
  padding-bottom: 0px;
  padding-top: 0px;
}

button:focus, button:active {
  border: var(--border-width) solid var(--font-color);
  border-radius: var(--xs-padding);
  padding: calc(var(--xs-padding) - var(--border-width));
}

svg {
  fill: var(--font-color);
  stroke: var(--font-color);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

header {
  height: var(--header-height);
  background-color: var(--main-color-dark);
  transition: var(--transition);
}

header img {
  position: relative;
  left: calc(50% - var(--header-height));
  border-radius: var(--sm-padding);
  padding: var(--xs-padding);
  max-height: calc(100% + var(--header-height));
  transition: var(--transition);
}

object {
  /* Chrome does not load content if element is not displayed */
  height: 0;
  width: 0;
}

.uploaded header {
  height: var(--large-padding);
  text-align: left;
  transition: var(--transition);
}

.uploaded header img {
  max-height: calc(100% - var(--sm-padding));
  left: 0;
  transition: var(--transition);
}

#change-theme {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: var(--xs-padding);
}

#change-theme svg {
  width: 2rem;
  height: 2rem;
}

/* Positioning elements */
main {
  flex: 1 0 auto;
  padding: var(--medium-padding);
  padding-top: calc(var(--header-height) + var(--medium-padding));
  max-width: var(--max-width);
  transition: var(--transition);
}

.uploaded main {
  padding: var(--medium-padding);
  transition: var(--transition);
}

@media only screen and (max-width: 600px) {
  main {
    padding: var(--sm-padding);
  }
}

header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
  padding: var(--medium-padding);
}

#drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - var(--sm-padding));
  height: 40%;
  margin: var(--medium-padding) 0;
  text-align: center;
  border: var(--border-width) dashed var(--highlight-color);
  border-radius: var(--xs-padding);
}

#image-input {
  display: none;
}

.uploaded #drop-zone {
  display: none;
}

#draw-zone {
  display: none;
}

.uploaded #draw-zone {
  display: block;
}

#svg-wrapper {
  max-width: 100%;
  overflow: scroll;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
}

.toolbar button {
  width: 4rem;
}

.toolbar button {
  height: var(--large-padding);
  background-color: var(--background-color);
}

.toolbar button svg, .toolbar split-button svg {
  width: 100%;
  height: 100%;
  max-height: fill-available;
  max-height: -webkit-fill-available;
}

[slot="main-button"] {
  height: 100%;
}

/*.toolbar split-button svg {
  width: calc(var(--large-padding) - var(--border-width));
  height: calc(100% - var(--xs-padding));
}*/

split-button {
  --split-background-color: var(--background-color);
  --split-font-color: var(--font-color);
  --split-font-color-light: var(--font-color-light);
  --split-xs-padding: var(--xs-padding);

  --split-border-width: var(--border-width);
  --split-xs-border-width: 0px;
  --split-width: var(--large-padding);
  --split-height: var(--large-padding);
  --split-dropdown-width: 10rem;
}

#palette {
  width: 100%
}

#palette .picker_done {
  display: none;
}